.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.subsection {
  padding: 1rem 0;
}

.subsection-title {
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

.subsection ul {
  width: 40%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.subsection li {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid azure;
}

.tabIndex {
  width: 40%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.tabIndex > div {
  padding: 1rem;
}